*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #4a0000;
    height: 50px;
}

.sidebar{
    width: 100px;
    height: 100vh;
    background-color: black;
}

.main-content{
    width: calc(100vw - 100px);
    background-color: rgb(24, 24, 46);
    height: 100vh;
}

@media screen and (min-width:576px) {
    .sidebar{
        width: 200px;
        height: 100vh;
        background-color: black;
    }

    .main-content{
        width: calc(100vw - 200px);
        background-color: rgb(24, 24, 46);
        height: 100vh;
    }

}