*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #4a0000;
    height: 50px;
}

.sidebar{
    width: 230px;
    height: 100%;
    background-color: black;
}