*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.sidebar{
    width: 80px;
    height: 100vh;
    background-color: rgb(5, 30, 52);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

.table-md img{
  width: 20px;
}

.main-content{
    width: calc(100vw - 80px);
    background-color: rgb(24, 24, 46);
    height: 100vh;
    overflow-y: auto;
}

.content-mobile img{
    width: 50px;
    height: 50px;
}

.content-desktop img{
    width: 150px;
    height: 50px;
}

.bg-gray{
    background-color: rgb(88, 89, 91);
    
}

.bottom-sidebar{
    height: 100px;
}

.top-sidebar{
    height: calc(100vh - 100px);
}

.label,
.label-desktop,
.label-mobile{
    border-radius: 20px;
    background-color: blue;
    padding: 0 10px;
}

.label-table{
  background-color: green;
  border-radius: 20px;
  padding: 3px;
}

.font-size{
    font-size:12px ;
}

.padding{
    padding: 10px;
    border: 1px solid white;
}

.pd-table{
  padding: 0px 10px;
  border: 1px solid white;
}

.pd-icons{
  padding: 5px 10px;
  border: 1px solid black;
}


@media screen and (min-width:991px) {
    .sidebar{
        width: 200px;
        height: 100vh;
        background-color: rgb(5, 30, 52);
    }

    .main-content{
        width: calc(100vw - 200px);
        background-color: rgb(24, 24, 46);
        height: 100vh;
    }

    .content-mobile{
        display:none;
      }

      .content-desktop{
        display: block;
      }

      .sidebar-mobile{
        display: none;
      }

      .sidebar-desktop{
        display: block;
      }

      .label-mobile{
        display: none;
      }

      

}

@media screen and (max-width:991px) {
    .content-mobile{
        display:block;
      }

      .content-desktop{
        display: none;
      }

      .top-sidebar{
        display: block;
      }

      .sidebar-desktop{
        display: none;
      }

      .label-desktop{
        display: none;
      }
      
}



